.yellow
{
    background-color: yellow;
    height: 50px;
    margin-bottom: 10px;
}

.blue
{
    background-color: blue;
    height: 50px;
    margin-bottom: 10px;
}

.red
{
    background-color: red;
    height: 50px;
    margin-bottom: 10px;
}
